.appWrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .headerTop {
    display: flex;
    padding: .2rem 0;
    background-color: #ededed;
    border-bottom: 1px solid #7b7b7b;
    input {
      flex: 1;
      margin: 0 .15rem;
      background-color: #cbcbcb;
      outline: none;
      border: none;
      font-size: .32rem;
      height: .78rem;
      padding-left: .2rem;
    }
  }
  .bodyContent {
    padding-top: 0.02rem;
    flex: 1;
  }
}

.listView {
  flex: 1;
  overflow: hidden;
}
